<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HomeBase</title>
    <link rel="stylesheet" type="text/css"
          media="screen" href="{% static 'styles/styles.css' %}">
  </head>
  <body>
  {% include 'first/navbar.html' %}

  {% block base %} {% endblock %}
  {% block forms %} {% endblock %}
<!--  <ol>-->
<!--    {% for i in proj %}-->
<!--    <li><a href="{% url 'dynamic' i.id %}">{{i.title}}: {{i.description}}</a> </li>-->
<!--    {% endfor %}-->
<!--  </ol>-->
  {% block content %} {% endblock %}
  {% block delete %} {% endblock %}

  {% include 'first/footer.html' %}

  </body>
</html>
